:root {
   --color-neutral-light:#e9e2e5;
   --color-neutral-medium:#94888e;
   --color-neutral-dark:#224229;
}

body {
   background-color:#f9f5f2;
}

.card>first-child {margin-top: 0;}
.card>last-child {margin-bottom: 0;}

/*Product*/
.product{
	margin: 0;
	position: relative;
	overflow: hidden;
	background-color: #f9f5f2;
	display: inline-block;
	transition: all 0.3s;
	font-family: Poppins, open sans, sans-serif;
	font-weight:400;
}

.product-image{
	background-color: #f9f5f2;
}

.product-image img {
   max-width:100%;
   vertical-align:middle;
}
.product-caption {
   padding:1em;
}

.product-title {
   font-size:1em;
   font-weight: 600;
}

.product-price {
   font-size:1em;
}

.product:hover {
   text-decoration:none;
   box-shadow:0 0 15px rgba(0,0,0,0.3);
}